/* src/styles.css */
/* src/styles.css */
@import '~bootstrap/dist/css/bootstrap.min.css';

/* Estilos globales para el cuerpo de la página */
body {
    padding-top: 20px;
    background-color: #f8f9fa;
  }
  
  /* Estilos para el contenedor principal */
  .container {
    max-width: 1200px; /* Ajusta el ancho máximo según tu preferencia */
    margin: 0 auto;
  }
  
  /* Estilos para los botones */
  .btn {
    cursor: pointer;
  }
  
  /* Estilos adicionales para las tarjetas */
  .card {
    margin-bottom: 20px;
  }
  
  /* Estilos para las tareas */
  .task {
    background-color: #ffffff;
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .task h5 {
    font-size: 1.2rem;
  }
  
  .task p {
    margin-bottom: 0.5rem;
  }
  
  /* Estilos para el formulario de nueva tarea */
  .new-task {
    background-color: #ffffff;
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 20px;
  }
  
  .new-task button {
    width: 100%;
  }
  
  /* Estilos para los botones de estado */
  .btn-status {
    margin-right: 5px;
  }
  